<!DOCTYPE html>

<html>

<head>
        <title>Movie Search</title>
</head>

<body>
    <div class="main-content">

        <p>Search for JSON representation of movie results</p>

        <form action="/movieSearch">
        <label for="search">Search for a movie</label>
            <input type="text" id="search" name="search">
            <input type="submit" value="Submit">
        </form>

    </div>

</body>

</html>